/* Portfolio section styling */
.portfolio-section {
    padding-top: 3.5rem;
    padding-bottom: 0rem;
    background-color: rgba(205, 212, 212, 0.849);
    min-height: 100vh;
}

.portfolio-section h1 {
    font-family: 'Lobster', cursive, Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    line-height: 1.5rem;
    color: #000;
}

.portfolio-section .featured-text {
    font-family: 'Fira Sans Condensed', sans-serif, Georgia, 'Times New Roman', Times, serif;
    padding: 2rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.btn-control {
    position: fixed !important;
}

#projectsCarousel {
    height: 500px;
}

/* Adapting font size and button for mobile screen */
@media (max-width: 768px) {
    .portfolio-section {
        padding-top: 3rem;
        padding-bottom: 8rem;
    }

    .portfolio-section h1 {
        font-size: 2rem;
    }
}