/* about me section styling */
.about-section {
    padding-top: 4.5rem;
    padding-bottom: 5rem;
    background-color: rgb(236, 238, 223);
    background-image: url("../../Assets/Images/bg-about.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.about-section h1 {
    font-family: 'Lobster', cursive, Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    line-height: 1.5rem;
    color: #000;
}

.about-section h2 {
    font-family: 'Lobster', cursive, Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    line-height: 1.5rem;
    color: #000;
}

.about-section p {
    font-family: 'Slabo 27px', serif, Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.my-img {
    width: 30%;
    height: auto;
    margin: 20px;
}

.img-thumbnail {
    background-color: #cacaca;
}

/* Adapt padding and font size for mobile screen */
@media (max-width: 768px) {

    .about-section h1 {
        font-size: 2rem;
    }

    .about-section h2 {
        font-size: 1.5rem;
    }

    .about-section p {
        font-size: 1rem;
    }
}